# KNP-EMI Config File
problem_type : "KNP-EMI"

# Input and output directories
input_dir  : '/home/hherlyng/knp-emi-cgx/src/CGx/KNPEMI/input/'
output_dir : '/global/D1/homes/hherlyng/knp-emi-cgx/output/GC/5m/100c/normal_frequency/'

# Numerical parameters 
dt : 0.000025 # Timestep size 
# time_steps : 50 # Number of timesteps
T  : 250e-3 # Simulation end time

# Problem constants (in consistent units)
physical_constants:
  T : 300   # Temperature [K]
  F : 96485 # Faraday constant [C/mol]
  R : 8.314 # Gas constant [J/(K*mol)]

C_M : 0.02 # membrane capacitance [F/m^2]

# Mesh and meshtags files 
mesh_file      : "geometries/GC/5m/100c/mesh.xdmf"
cell_tag_file  : "geometries/GC/5m/100c/mesh.xdmf"
facet_tag_file : "geometries/GC/5m/100c/facets.xdmf"
mesh_conversion_factor: 1e-9

ics_tags  : !range [2, 102] # Intracellular space cell tags 
ecs_tags  : [1] # Extracellular space cell tags
boundary_tags : !range [1001, 1102] # Boundary facet tags
membrane_tags : !range [2, 102] # Membrane (interface) facet tags
glia_tags : [71, 90, 95, 100]
stimulus_tags : [56] # Membrane facet tags of the cells being stimulated

stimulus_region : 
  range : [1150, 1250]
  direction : "x"

point_evaluation :
  ics_points : [[1200, 3102, 3497], [1200, 3302, 3476]]
  ecs_points : [[1200, 3113, 3607], [1200, 1334, 3934]]

stimulus :
  conductance :
    g_syn_bar : 0.50e-10 # Maximum synaptic conductance
  a_syn : 5e-4 # Synaptic time constant
  T_stim : 1000e-3 # Stimulus period, high freq = 20 ms, normal freq = 1 s
  scale : True

solver :
  direct : False
  output :
    save_xdmf : False
    save_cpoints : False
    save_pngs : True
    save_dat : True

initial_conditions:
  # phi_m_n : -0.06774
  # phi_m_g : -0.078070853285535674
  # Na_i_n : 12.0
  # Na_i_g : 14.421136114602672862
  # Na_e : 100.0
  # K_i_n : 125.0
  # K_i_g : 100.735001928700583562
  # K_e : 4.0
  # Cl_i_n : 137.0
  # Cl_i_g : 4.864265957879501556
  # Cl_e : 104.0
  # n : 0.276
  # m : 0.0379
  # h : 0.688
  phi_m_n : -0.071082690683513236
  phi_m_g : -0.078070853285535674
  Na_i_n : 12.029528270873768747
  Na_i_g : 14.421136114602672862
  Na_e : 140.111543169829730004
  K_i_n : 129.907249433001112493
  K_i_g : 100.735001928700583562
  K_e : 4.010709034063037137
  Cl_i_n : 5.061298535599002335
  Cl_i_g : 4.864265957879501556
  Cl_e : 124.876250243426014208
  n : 0.229897261889963705
  m : 0.025265637617126482
  h : 0.782448548533397403
