# KNP-EMI Config File
problem_type : "KNP-EMI"

# Input and output directories
input_dir  : '/home/hherlyng/knp-emi-cgx/src/CGx/KNPEMI/input/'
output_dir : '/global/D1/homes/hherlyng/knp-emi-cgx/output/GC/20m/100c/T_stim=1000ms_iterative_study/'

# Numerical parameters 
dt : 0.000025 # Timestep size 
# time_steps : 1 # Number of timesteps
T  : 5e-3 # Simulation end time

# Problem constants (in consistent units)
physical_constants:
  T : 300   # Temperature [K]
  F : 96485 # Faraday constant [C/mol]
  R : 8.314 # Gas constant [J/(K*mol)]

C_M : 0.01 # membrane capacitance [F/m^2]

# Mesh and meshtags files 
mesh_file      : "geometries/GC/20m/100c/mesh.xdmf"
cell_tag_file  : "geometries/GC/20m/100c/mesh.xdmf"
facet_tag_file : "geometries/GC/20m/100c/facets.xdmf"
mesh_conversion_factor: 1e-9

ics_tags  : !range [2, 102] # Intracellular space cell tags 
ecs_tags  : [1] # Extracellular space cell tags
boundary_tags : !range [1001, 1102] # Boundary facet tags
membrane_tags : !range [2, 102] # Membrane (interface) facet tags
# glia_tags : [71, 90, 95, 100]
stimulus_tags : [34] # Membrane facet tags of the cells being stimulated
membrane_data_tag : 34 # Tag for which membrane data is written to file

# stimulus_region : 
#   range : [1150, 1250]
#   direction : "x"

point_evaluation :
  ics_points : [[1200, 3102, 3497], [1200, 3302, 3476]]
  ecs_points : [[1200, 3113, 3607], [1200, 1334, 3934]]

stimulus :
  conductance :
    g_syn_bar : 2.0e-10 # 0.5e-10 # Maximum synaptic conductance
  a_syn : 5e-4 # Synaptic time constant
  T_stim : 1000e-3 # Stimulus period, high freq = 20 ms, normal freq = 1 s
  scale : True

solver :
  direct : False
  output :
    save_xdmf : False
    save_cpoints : True
    save_pngs : True
    save_dat : True