name: Test KNP-EMI CGx code
on:
  workflow_dispatch:
  workflow_call:
  pull_request:
    branches: ["main"]
  push:
    branches: ["**"]

env:
  DEB_PYTHON_INSTALL_LAYOUT: deb_system
  PIP_NO_BUILD_ISOLATION: 0

defaults:
  run:
    shell: bash -el {0}

jobs:
  test_scripts:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup conda environment
        uses: conda-incubator/setup-miniconda@v3
        with:
          miniforge-variant: Miniforge3
          activate-environment: CGx
          python-version: "3.10"
          use-mamba: true
          environment-file: environment.yml

      - name: install python packages
        run: |
          python -m pip install . --no-build-isolation

      - name: run tests
        run: |
          python3 ./src/CGx/utils/generate_square_mesh.py -N 32 -o './'
          python3 ./src/CGx/KNPEMI/main.py --config ./src/CGx/KNPEMI/configs/test_config.yaml
          python3 ./src/CGx/KNPEMI/tests/solution_consistency.py
          python3 ./src/CGx/KNPEMI/tests/ion_conservation.py
